{% if user.is_authenticated %}
<div>
  <h3>{{ user }}さんこんにちは！<h3>
  <form action="{% url 'signout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="ログアウト" />
  </form>
</div>
{% else %}
<div>
  <div>
    <h2>ユーザ作成</h2>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="ユーザー名" />
      <input type="email" name="email" placeholder="メールアドレス" />
      <input type="password" name="password" placeholder="パスワード" />
      <input type="submit" value="ユーザー作成" />
    </form>
  </div>
  <h2>ログイン</h2>
  <form action="{% url 'signin' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="ユーザー名" />
    <input type="password" name="password" placeholder="パスワード" />
    <input type="submit" value="ログイン" />
  </form>
</div>
{% endif %}