{% extends "base/base.html" %}
{% load static %}

<!-- 追加のCSSを読み込むブロック -->
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'app/css/home.css' %}">
{% endblock %}

{% block body %}
{% if search_recipes %}
<h4>検索結果</h4>
    {% for i in search_recipes %}
        <a href="{% url 'app:detail' post_id=i.id %}">
        <!-- modelのRecipeで指定したrecipe_titleを呼び出し -->
        {{ i.recipe_title }}
        <img src="{{ i.recipe_image.url }}">
    </a>
    {% endfor %}

{% else %}
    <!-- 人気ランキング -->
    <h3>人気ランキング</h3>
    <div class="row">
        {% for recipe in popular_recipes %}
            <!-- 3列で表示したかったらcol-md-4、4列ならcol-md-3 -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!-- 何度も書くのは面倒だからrecipe_card.htmlに格納 -->
                {% include 'app/recipe_card.html' with i=recipe %}
            </div>
        {% endfor %}
    </div>

    <!-- 最新のレシピ -->
    <h3>最新のレシピ</h3>
    <div class="row">
        {% for recipe in latest_recipes %}
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                {% include 'app/recipe_card.html' with i=recipe %}
            </div>
        {% endfor %}
    </div>

    <!-- ジャンルごとに料理を絞るためのフォーム -->
    <form method="get" class="mb-4" id="genreForm">
        <label for="genre">ジャンルで絞る:</label>
        <select name="genre" id="genre" class="form-select">
            <!-- 選択された値は維持するようにしてるがリンクをまたぐと表記がおかしくなる -->
            <option value="" {% if selected_genre == "" %}selected{% endif %}>すべて</option>
            <option value="main" {% if selected_genre == 'main' %}selected{% endif %}>主菜</option>
            <option value="side" {% if selected_genre == 'side' %}selected{% endif %}>副菜</option>
            <option value="course" {% if selected_genre == 'course' %}selected{% endif %}>主食</option>
            <option value="dessert" {% if selected_genre == 'dessert' %}selected{% endif %}>菓子</option>
        </select>
    </form>

    <!-- レシピ一覧 -->
    <div class="row">
        {% for recipe in all_recipes %}
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                {% include 'app/recipe_card.html' with i=recipe %}
            </div>
        {% endfor %}
    </div>

    <script>
        // ジャンルを選択すると自動的にフォームを送信
        document.getElementById('genre').addEventListener('change', function() {
            document.getElementById('genreForm').submit();
        });
    </script>
{% endif %}
{% endblock %}