{% extends "base/base.html" %}
{% block body %}

<div class="container mt-4">
    <h1>ここはhome.htmlです。</h1>
    <!-- 検索ページへのリンク -->
    <a href="{% url 'app:searchrecipes' %}" class="btn btn-link">検索へ</a>
    <a href="{% url 'app:recipe_create' %}" class="btn btn-link">料理追加</a>
    
    <form method="get" class="mb-4" id="genreForm">
        <label for="genre">ジャンルで絞る:</label>
        <select name="genre" id="genre" class="form-control">
            <option value="" {% if selected_genre == "" %}selected{% endif %}>すべて</option>
            <option value="main" {% if selected_genre == 'main' %}selected{% endif %}>主菜</option>
            <option value="side" {% if selected_genre == 'side' %}selected{% endif %}>副菜</option>
            <option value="course" {% if selected_genre == 'course' %}selected{% endif %}>主食</option>
            <option value="dessert" {% if selected_genre == 'dessert' %}selected{% endif %}>菓子</option>
        </select>
    </form>

    <div class="row">
        <!-- views.pyのrecipe(メソッド)で指定したrecipe_allを呼び出し -->
        {% for i in recipe_all %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ i.recipe_image.url }}" class="card-img-top" alt="{{ i.recipe_title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.recipe_title }}</h5>
                    <p class="card-text">{{ i.detail_text|truncatechars:100 }}</p>
                    <a href="{% url 'app:detail' i.id %}" class="btn btn-primary">詳細を見る</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('genre').addEventListener('change', function() {
        document.getElementById('genreForm').submit();
    });
</script>

<!-- BootstrapのJSと依存するPopper.jsをインクルード -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}